* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  background:url(images/newbackground.png);
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}
.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  color: rgb(247, 247, 247);
  text-decoration: overline;
}

.title img {
  width: 3rem;
  height: 3.5rem;
}

.name {
  font-size: 10vw;
}
.bismillah {
  font-size: 5vw;
}
.main {
  margin-top: 2vh;
  display: flex;
  padding: 3vh 0 1vh 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25rem;
  height: auto;
  border-radius: 10px;
  background-color: #37684462;
}
.counter {
  font-size: 8rem;
  color: #fcff9e;
}
.mainhead {
  display: flex;
  justify-content: space-around;
}
.mainhead img {
  width: 5vw;
  height: 5vw;
}
.main h1 {
  color: white;
}
.tasbeeh {
  font-size: 2rem;
  color: white;
  padding-bottom: 2rem;
}
.count {
  width: 8rem;
  height: 7rem;
  cursor: pointer;
}
.reset {
  width: 8rem;
  height: 7rem;
  cursor: pointer;
}
.note1 h4 {
  margin: 1rem 0;
  line-height: 1rem;
  color: white;
  font-size: 0.5rem;
  font-weight: 200;
  text-align: center;
  font-family: "Inknut Antiqua", serif;
  border-top: 1px solid white;
}
.namaz {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Inknut Antiqua", serif;
  text-align: center;
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #37684462;
}
.namztime {
  padding: 3vh 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 3vw;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.namaz .eng {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
.namaz .correcttime {
  color: #fcff9e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
.namaz .arname {
  width: 30%;
}

body .namaz h1 {
  font-size: 10vw;
  color: white;
}

.namazhead {
  display: flex;
  justify-content: space-around;
}
.namazhead img {
  width: 5vw;
  height: 10vw;
}
.note2 h4 {
  margin: 1rem 0;
  line-height: 1rem;
  color: white;
  font-size: 0.5rem;
  font-weight: 200;
  text-align: center;
}
.audio {
  margin-bottom: 3rem;
  padding: 0rem 0 3rem 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Inknut Antiqua", serif;
  text-align: center;
  width: 25rem;
  height: auto;
  border-radius: 10px;
  background-color:#37684462 ;
}
.audio h1 {
  font-size: 10vw;
  color: white;
}
#surahSelect {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 3px 3px 10px gray, inset -3px -3px 10px gray;
}
#submitButton {
  box-shadow: 2px 2px 20px black;
  width: 6rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}
#submitButton:hover {
  color: darkseagreen;
  background-color: darkslategray;
  transform: scale(1.2);
}
#surahAudio {
  width: 90%;
  height: 50px;
}
.link a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.friday {
  padding: 0rem 0 1rem 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Inknut Antiqua", serif;
  width: 25rem;
  height: auto;
  border-radius: 10px;
  background-color: #37684462;
  color: white;
}
.friday h1 {
  font-size: 10vw;
}
.frihead {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.frihead img {
  width: 5vw;
  height: 10vw;
}
.friday .best {
  font-size: 1rem;
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.best .frtime {
  color: #fcff9e;
}

.best .location i {
  color: white;
  font-size: 1.5rem;
}
.audiohead {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px solid white;
}
.audiohead img {
  width: 5vw;
  height: 10vw;
}
.upcoming{
 margin-bottom: 3rem;
  padding: 0rem 0 3rem 0;
  /* display: flex; */
  gap: 1rem;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  font-family: "Inknut Antiqua", serif;
  text-align: center;
  width: 25rem;
  height: 30vh;
  border-radius: 30px;
  box-shadow: 0px 0px 10px black;
  background-color: rgb(255, 255, 255);
}
.upcominghead{
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 10vh;
  font-size: 0.8rem;
  background-color: #376844;
  color: white;
}
.upcomingdate{
  /* background-image: url(images/newbackground.png); */
  display: flex;
  width: 100%;
  height:91%;
  border-radius: 0 0 30px 30px;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.date1{
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e5e3d4;
  border-radius: 20px;
  font-size: 0.2rem;
  background-color: white;
}

.holidayimg img{
  width: 4rem;
  height: 4rem;
}
.holidaydesc{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 0.3rem;
  font-size: 0.8rem;
  color: black;
  /* border: 1px solid black; */
}
.holidayname{
  color: #376844;
  font-weight: 800;
  font-size: 1.2rem;
}
.holidaydate{
  color: rgba(0, 0, 0, 0.74);
  /* font-size: rem; */
  font-weight: 600;
}
.holidaycodown{
  width: 15%;
  height: 40%;
  background-color: #F1EAD8;
  border-radius: 10px;
  line-height: 1rem;
  align-content: center;
  font-size: 0.7rem;
}
.lk {
  width: 100%;
  color: white;
  font-size: 3vw;
  padding: 0 1rem;
}
.link a {
  color: #fcff9e;
}
.footer{
  color: white;
}
.footer span {
  color: darkgreen;
}



@media (max-width: 2000px) {
  body {
    flex-direction: column;
    padding: 2rem;
  }
  .main {
    width: 94vw;
    margin-bottom: 3rem;
  }

  .namaz {
    width: 94vw;
    height: auto;
    margin-bottom: 3rem;
  }
  .friday {
    width: 94vw;
    height: auto;
    margin-bottom: 3rem;
  }
  .audio {
    width: 94vw;
    margin-bottom: 3rem;
  }
  .namazhead {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .namazhead img {
    width: 10vw;
    height: 20vw;
  }
  .mainhead img {
    width: 15vw;
    height: 15vw;
  }
  .frihead img {
    width: 10vw;
    height: 20vw;
  }
  .audiohead img {
    width: 10vw;
    height: 20vw;
  }
  .urdudate{
    background-image: url(images/3d-calendar-date-day-schedule-event-icon-illustration-png.webp);
    width: 50px;
    height:6vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center;
   
    position: relative;
    background-repeat: no-repeat;
    
    color: black;
  }
  .upcoming{
     width: 94vw;
    
  }
}

.count{
  min-width: 130px;
  height: 120px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: #495057;
}
.count:hover {
  background-color: #6c757d;
}
.count:active {
  top: 2px;
}

.reset{
  min-width: 130px;
  height: 120px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color:#6c757d ;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}
.reset:hover {
  background-color: #6c757d;
}
.reset:active {
  top: 2px;
}